.logo{
    background-color: transparent;
    font-family: 'Oswald', sans-serif;

    font-weight: 600;
    text-decoration: none;
}

.navbar-expand-lg{
    background-color: transparent;
}



#searchIcon{
    position: absolute;
    left: 170px;
    
}

.icon{
    color: white;
}
.koro{
    position:absolute;
    right: 200px;
}

.navbar_fixed{
    background-color: white;
    transition: background-color 200ms linear;
    z-index: 1;
}
 .navbar_fixed .navtext {
    color: black;
}
.navbar_fixed #navtext {
    color: black;
}
.navbar_fixed .icon {
    color: black;
}

.navtext{
    color: white;
}

.navtext:hover {
    color: #fff !important;
    text-decoration: none;
}
#navtext {
    color: white;
}

.sneakersdropitem:hover{
    background-color: #0d6efd;
}

.accountdropitem:hover{
    background-color: #0d6efd;
}

 










