.grid-five-column {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
   text-align: center;
    align-items: start;
  }

  .cart-image--name {
    /* background-color: red; */
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.4fr 1fr;
    text-transform: capitalize;
    text-align: left;
  }

  .img {
    max-width: 5rem;
    height: 5rem;
    object-fit: contain;
    color: transparent;
    
    
  }